QWidget.MainWindow {
    background: #0F111A;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

QPushButton {
    background: #3d5acb;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

QPushButton:pressed {
    background-color: #2c75ff;
}

QTabWidget::pane {
    border-top: 2px solid #21316e;
}

QTabWidget::tab-bar {
    left: 5px;
}

QTabBar::tab {
    width: 175%;
    background: #2476ed;
    border: 2px solid #21316e;
    border-bottom-color: #21316e;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
    color: white;
}

QWidget {
    font-family: 'Google Sans';
    font-size: 13px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: #3d5acb;
}

QTabBar::tab:selected {
    border-color: black;
    border-bottom-color: #21316e;
    border-bottom-width: 3px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

QTabBar::tab:!selected {
    margin-top: 2px;
}

QLabel {
    color: white;
    font-weight: bold;
}

QLineEdit {
    padding: 8px;
    border-radius: 5px;
    background-color: #232632;
    color: white;
}

QListView {
    background: #232632;
    padding: 8px;
    border-radius: 5px;
    color: white;
}

QListView::item:selected {
    background: #3d5acb;
    border: 1px solid #6a6ea9;
}

QGroupBox {
    border: 1.5px solid #21316e;
    border-radius: 5px;
    margin-top: 2.5ex;
    padding-top: 10px;
    color: white;
}

QGroupBox::title {
    subcontrol-position: top center;
    subcontrol-origin: margin;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

QTextEdit {
    background: #232632;
    padding: 8px;
    border-radius: 5px;
    color: white;
}

QSpinBox {
    background-color: #232632;
    color: white;
    border: None;
    border-radius: 5px;
}

QMessageBox {
    background-color: #0F111A;
    color: white;
}